---
import BaseLayout from "../layouts/BaseLayout.astro";
import ManuscriptHeader from "../components/manuscript/ManuscriptHeader.astro";
import ManuscriptFooter from "../components/manuscript/ManuscriptFooter.astro";
import ManuscriptAbout from "../components/manuscript/ManuscriptAbout.astro";
import { siteMeta } from "../data/site.js";
import "../styles/manuscript.css";
---

<BaseLayout
  title={`About | ${siteMeta.name}`}
  description={`${siteMeta.tagline} Career path from engineering and physics to computational biology at ${siteMeta.institution}.`}
>
  <div class="manuscript-page">
    <div class="ms-shell">
      <ManuscriptHeader currentPath="/about" />
      <ManuscriptAbout />
      <ManuscriptFooter />
    </div>
  </div>
</BaseLayout>
