---
import katex from "katex";
import { siteMeta } from "../data/site.js";

const integralMarkup = katex.renderToString(String.raw`\int`, {
  displayMode: false,
  output: "html",
  throwOnError: false,
  strict: "ignore",
});

const derivativeMarkup = katex.renderToString(String.raw`\partial`, {
  displayMode: false,
  output: "html",
  throwOnError: false,
  strict: "ignore",
});
---

<span class="brand-subtitle brand-mathmark" aria-label={siteMeta.brandSubtitle}>
  <span class="brand-symbol brand-integral" set:html={integralMarkup} />
  <span class="brand-biology">Biology</span>
  <span class="brand-symbol brand-operator" set:html={derivativeMarkup} />
  <span class="brand-group">(dynamical systems)</span>
</span>
